

body {
    border: solid 20px  #bdc3c7;
    margin: 20px auto;
    width: 80%;
    max-width: 700px;
    padding: 10px 20px;
    font-family: "Source Sans Pro";
}

.date {
    color: #3498db;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 20px;
}

.article-title {
    font-weight: 700;
    font-size: 2.0rem;
}

.lead {
    border: solid 5px  #bdc3c7;
    border-style: none none none solid;
    padding-left: 5px;
}

.japanese {
    margin: 0 35%;
    font-family: "Mplus 1p";
    text-align: center;
}
